<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
  


  <appSettings>
    <add key="browser" value="Chrome" />
    <add key="url" value="http://adactin.com/HotelApp/" />
    <add key="loginusername" value="//input[@id='username']" />

    <add key="loginpassword" value="//input[@id='password']" />

    <add key="loginbutton" value="//*[@id='login']" />



  </appSettings>



</configuration>